*{
  margin: 0;
  padding: 0;
 
}
html{
  font-size: 62.57%;
  background-image: url("calculator.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.container{
  text-align: center;
  border: 2px solid rgb(255, 255, 255) ;
  border-radius: 2rem;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 5rem;
  height: 60vh;
  margin-bottom: 3rem;
  padding: .5rem;
  opacity: 1;
   background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;  
}
.heading{
  padding: .5rem;
  margin: 1rem;
  font-size: larger;
  font-style: italic;
}
h1{
  font-weight: bolder;
  font-size: 4rem;
  text-transform: capitalize;
 
}
input{
  width: 60%;
  padding: 1.5rem;
  margin: 4.6rem;
  font-weight: bolder;
}
.btoon{
  margin: .3rem;
  padding: .2rem;
  
}
.btn3{
  width: 40%;
  margin-right: 1rem;
  border-radius: 1.3rem;
  font-weight: bolder;
}
.btn1, .btn2{
  margin-right: 1rem;
  width: 30%;
  border-radius: 1.3rem;
  font-weight: bolder;
 
}
button{
  padding: .8rem;
  margin-top: 2rem ;
}
.btn1:hover{
  color: rgb(10, 250, 62);
  background-color: black;
 cursor: pointer;
}
.btn2:hover{
  color: rgb(248, 0, 0);
  background-color: black;
 cursor: pointer;
}
.btn3:hover{
  color: rgb(255, 230, 2);
  background-color: black;
 cursor: pointer;
}
@media (max-width:998px){
  html{
    font-size: 55.5%;
    color: rgb(8, 8, 8);
  }
  input{
      width: 55%;
      padding: .8rem;
  }
  
}
@media (max-width:778px){
  html{
    font-size: 52%;
    color: rgb(8, 8, 8);
  }
  input{
      width: 55%;
      padding: .8rem;
  }
  .container{
      margin-left: 25%;
  margin-right: 25%;
  }
}
@media (max-width:500px){
  html{
    font-size: 50%;
    color: rgb(8, 8, 8);
  }
  input{
      width: 55%;
      padding: .8rem;
  }
  .container{
      margin-left: 20%;
  margin-right: 20%;
  }
}
@media (max-width:360px){
  html{
    font-size: 48%;
    color: rgb(8, 8, 8);
  }
  input{
      width: 55%;
      padding: .8rem;
  }
  .container{
      margin-left: 18%;
  margin-right: 18%;
  }
}